.header{
    height: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    
    span{
        margin-left: 30px;
        font-size: 23px;
        color: #2824ff;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
            color: #0300b1;
        }
    }
}